<div *ngIf="!isBooking; else onBookingEvent">
  <div *ngIf="!isEditing; else onEditingEvent">
    <div *ngIf="!(permission$ | async)">
      <button *ngIf="status$ | async as status; else notSaved"
        type="button" mat-button
        [ngClass]="status.code === 4 ? 'saved-button' : 'save-button'"
        (click)="status.code === 4 ? onUnsaveEvent() : onSaveEvent()"
        >
        {{status.code === 4 ? 'Unaved' : 'Save'}}
      </button>
      <ng-template #notSaved>
          <button type="button" mat-button class="save-button" (click)="onSaveEvent()">Save</button>
      </ng-template>
    </div>
    <h1 mat-dialog-title class="title">{{ yourEvent.name }} {{'epsilon.event' | translate}}</h1>
    <div mat-dialog-content class="content-wrapper">
      <!-- EVENT INFORMATION -->
      <div class="event-information">
        <div *ngIf="status$ | async as status; else noStatus" class="badge event-information_badge" [ngClass]="status.statusClassName">
          {{ status.name }}
        </div>
        <ng-template #noStatus>
          <div class="badge event-information_badge" [ngClass]="yourEvent.statusClassName">
            {{ yourEvent.statusName }}
          </div>
        </ng-template>
        <div class="row">
          <span class="label">{{ 'epsilon.events.name' | translate }}:</span>
          <span class="label-content">{{ yourEvent.name }}</span>
        </div>
        <div class="row">
          <span class="label">{{ 'epsilon.events.place' | translate }}:</span>
          <span class="label-content">{{ yourEvent.place }}</span>
        </div>
        <div class="row">
          <span class="label">{{ 'epsilon.events.time' | translate }}:</span>
          <span class="label-content">{{ yourEvent.time }} {{ yourEvent.date }}</span>
        </div>
        <div class="row">
          <span class="label">{{ 'epsilon.events.price' | translate }}:</span>
          <span class="label-content">${{ yourEvent.price }}</span>
        </div>
        <div class="row">
          <span class="label">{{ 'epsilon.events.amountOfPeople' | translate }}:</span>
          <span class="label-content">{{ yourEvent.amount }}/{{ yourEvent.capacity }}</span>
        </div>
        <div style="line-height: 30px">
          <span class="label label_description">{{ 'epsilon.events.description' | translate }}:</span>
          <div class="label-content label-content_description">{{ yourEvent.description }}</div>
        </div>
      </div>
      <!-- / EVENT INFORMATION -->
    </div>
    <div class="d-flex justify-content-between action full-width">
      <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      <button type="button" *ngIf="permission$ | async as permission; else notAdmin" [disabled]="yourEvent.status === 2" mat-raised-button color="primary" (click)="onEditEvent()">Edit</button>
      <ng-template #notAdmin>
        <button type="button" [disabled]="yourEvent.status === 1 || yourEvent.status === 2" mat-raised-button color="accent" (click)="onBookEvent()">Book</button>
      </ng-template>
    </div>
  </div>

  <ng-template #onEditingEvent>
    <epsilon-selected-event-edit-form [data]="yourEvent.toJSON()" (cancelUpdate)="onCancelEditEvent($event)" (updatedEvent)="onFinishEditEvent($event)" (onCloseDialog)="onDeleteEventFinished($event)"></epsilon-selected-event-edit-form>
  </ng-template>
</div>

<ng-template #onBookingEvent>
  <epsilon-selected-event-booking-form [data]="yourEvent.toJSON()" (cancelBooking)="onCancelBooking($event)"></epsilon-selected-event-booking-form>
</ng-template>
