<h1 mat-dialog-title class="title">{{ data.name }} {{'epsilon.event' | translate}}</h1>
<div mat-dialog-content class="content-wrapper">
  <!-- EVENT INFORMATION -->
  <div class="event-information">
    <div class="badge event-information_badge" [ngClass]="data.statusClassName">
      {{ data.statusName }}
    </div>
    <div class="row">
      <span class="label">{{ 'epsilon.events.name' | translate }}:</span>
      <span class="label-content">{{ data.name }}</span>
    </div>
    <div class="row">
      <span class="label">{{ 'epsilon.events.place' | translate }}:</span>
      <span class="label-content">{{ data.place }}</span>
    </div>
    <div class="row">
      <span class="label">{{ 'epsilon.events.time' | translate }}:</span>
      <span class="label-content">{{ data.time }} {{ data.date }}</span>
    </div>
    <div class="row">
      <span class="label">{{ 'epsilon.events.price' | translate }}:</span>
      <span class="label-content">${{ data.price }}</span>
    </div>
    <div class="row">
      <span class="label">{{ 'epsilon.events.amountOfPeople' | translate }}:</span>
      <span class="label-content">{{ data.amount }}/{{ data.capacity }}</span>
    </div>
    <div style="line-height: 30px">
      <span class="label label_description">{{ 'epsilon.events.description' | translate }}:</span>
      <div class="label-content label-content_description">{{ data.description }}</div>
    </div>
  </div>
  <!-- / EVENT INFORMATION -->
</div>
<div class="d-flex justify-content-between action full-width">
  <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  <button type="button" mat-raised-button color="accent">Create</button>
</div>
