.table {
  width: 100%;
  padding: 8px;
  display: table;
}

.row-element {
  width: 19%;
  padding-top: 12px;
}

.row-element_name {
  width: 30%
}

.row {
    width: 100%;
    display: table-row;
    cursor: pointer;
    &:hover {
      background-color: rgba(226, 226, 226, 0.384);
    }
}

.search-wrapper {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  .search {
      width: 100%;
  }
}

td {
  .mat-cell {
    padding-top: 12px;
  }
}

.badge {
  display: flex;
  align-items: center;
  min-width: 20px;
  height: 20px;
  padding: 0.8em;
  font-size: 0.8em;
  font-weight: 600;
  border-radius: 20px;
  color: #fff;
  justify-content: center;
  &.available {
      background-color: #60c778;
  }
  &.full {
      background-color: #dc3545;
  }
  &.past {
      background-color: #6c757d;
  }
  &.booked {
      background-color: #4ccbdf;
  }
  &.saved {
      background-color: #d5d829;
      // color: #6c757d;
  }
}
