<h1 mat-dialog-title style="margin-bottom: 0">{{ 'epsilon.events.makeBooking' | translate }} {{ 'epsilon.event' | translate }}</h1>
<div mat-dialog-content>
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step>
      <ng-template matStepLabel>{{ 'epsilon.events.booking.eventInfo' | translate }}</ng-template>

      <!-- EVENT INFORMATION -->
      <div class="event-information">
        <div class="row">
          <span class="label">{{ 'epsilon.events.name' | translate }}:</span>
          <span class="label-content">{{ event.name }}</span>
        </div>
        <div class="row">
          <span class="label">{{ 'epsilon.events.place' | translate }}:</span>
          <span class="label-content">{{ event.place }}</span>
        </div>
        <div class="row">
          <span class="label">{{ 'epsilon.events.time' | translate }}:</span>
          <span class="label-content">{{ event.time }} {{ event.date }}</span>
        </div>
        <div class="row">
          <span class="label">{{ 'epsilon.events.price' | translate }}:</span>
          <span class="label-content">${{ event.price }}</span>
        </div>
        <div class="row">
          <span class="label">{{ 'epsilon.events.amountOfPeople' | translate }}:</span>
          <span class="label-content">{{ event.amount }}/{{ event.capacity }}</span>
        </div>
        <div style="line-height: 30px">
          <span class="label label_description">{{ 'epsilon.events.description' | translate }}:</span>
          <div class="label-content label-content_description">{{ event.description }}</div>
        </div>
      </div>
      <!-- / EVENT INFORMATION -->

      <div>

      <!-- BILL INFORMATION -->
      <div class="event-information">
        <div class=" d-flex row align-items-center">
          <span class="label">{{ 'epsilon.events.booking.tickets' | translate }}:</span>
          <div>
            <input matInput class="number-input" style="border-bottom: 1px solid" [(ngModel)]="numberOfTickets">
          </div>
        </div>
        <div style="margin-top: 10px;">
          <span class="promotion-code" *ngIf="!isHavingCode; else codeInput" (click)="onFillPromotionCode()">You have a promotion code?</span>
          <ng-template #codeInput>
            <div class=" d-flex row align-items-center">
              <span class="label">Promotion Code:</span>
              <div>
                <input matInput class="number-input" style="border-bottom: 1px solid" [(ngModel)]="promotionCode">
              </div>
              <button mat-button (click)="onApplyPromotionCode()">Apply</button>
            </div>
            <span *ngIf="wrongCode" style="color: red">This code is wrong, please try again!</span>
          </ng-template>
        </div>
        <div class="row total">
          <span>Total:</span>
          <span style="margin-left: 5px">$ {{ total }}</span>
        </div>
      </div>
      <!-- / BILL INFORMATION -->

        <button type="button" mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="formGroup">
      <form [formGroup]="formGroup">
        <ng-template matStepLabel>{{ 'epsilon.events.booking.cardDetail' | translate }}</ng-template>

        <!-- CARD INFORMATION -->
        <mat-form-field>
          <input matInput formControlName="cardName" placeholder="{{ 'epsilon.events.booking.cardName' | translate }}" required>
          <mat-error *ngIf="formErrors.cardName">
            {{ formErrors.cardName }}
          </mat-error>
        </mat-form-field>

        <div class="row">
          <mat-form-field class="col-md-6">
            <input matInput formControlName="cardNumber" placeholder="{{ 'epsilon.events.booking.cardNumber' | translate }}" required>
            <mat-error *ngIf="formErrors.cardNumber">
              {{ formErrors.cardNumber }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <input matInput formControlName="expire" placeholder="{{ 'epsilon.events.booking.expire' | translate }}" required>
            <mat-hint [align]="'end'">MM/YY</mat-hint>
            <mat-error *ngIf="formErrors.expire">
              {{ formErrors.expire }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <input matInput formControlName="ccv" placeholder="{{ 'epsilon.events.booking.ccv' | translate }}" required>
            <mat-error *ngIf="formErrors.ccv">
              {{ formErrors.ccv }}
            </mat-error>
          </mat-form-field>
        </div>
        <!-- / CARD INFORMATION -->

        <div>
          <button matStepperPrevious mat-raised-button color="accent">Back</button>
          <button matStepperNext mat-raised-button color="primary" style="margin-left: 10px" [disabled]="!this.formGroup.valid">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="mb-8">
        You have <span style="color: red">{{ numberOfTickets }}</span> ticket(s) for <span style="color: red">{{ event.name }}</span> event. <br>
        Your total bill is <span style="color: red">${{ total }}</span>
      </div>
      <div class="d-flex row justify-content-between" style="margin: 20px 0;">
        <div>
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
        <button mat-raised-button color="primary" (click)="onCheckout()">Checkout</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
<button type="button" mat-raised-button color="warn" (click)="onCancelBooking($event.value)">Cancel</button>
