<div class="container">
  <h1 class="title">{{ 'epsilon.login.title' | translate }}</h1>
  <form [formGroup]="formGroup">
    <mat-card>
      <mat-form-field [ngClass]="routeAnimationsElements">
        <input matInput type="email" formControlName="email" placeholder="{{ 'epsilon.login.email' | translate }}">
        <mat-error *ngIf="formErrors.email">
          {{ formErrors.email }}
        </mat-error>
      </mat-form-field>
      <mat-form-field [ngClass]="routeAnimationsElements">
        <input matInput type="password" formControlName="password" placeholder="{{ 'epsilon.login.password' | translate }}">
        <mat-error *ngIf="formErrors.password">
          {{ formErrors.password }}
        </mat-error>
      </mat-form-field>
      <button class="mt-2" type="button" mat-raised-button color="accent" [ngClass]="routeAnimationsElements"
        (click)="onLogin()">
        {{ 'epsilon.login.title' | translate }}
      </button>
    </mat-card>
  </form>
</div>
