$epsilon-black-primary: mat-palette($mat-grey, 700, 300, 900);
$epsilon-black-accent: mat-palette($mat-blue-grey, 400);
$epsilon-black-warn: mat-palette($mat-red, 500);

$epsilon-black-theme: mat-dark-theme(
  $epsilon-black-primary,
  $epsilon-black-accent,
  $epsilon-black-warn
);
