$epsilon-light-primary: mat-palette($mat-grey, 200, 500, 300);
$epsilon-light-accent: mat-palette($mat-brown, 200);
$epsilon-light-warn: mat-palette($mat-deep-orange, 200);

$epsilon-light-theme: mat-light-theme(
  $epsilon-light-primary,
  $epsilon-light-accent,
  $epsilon-light-warn
);
