$epsilon-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$epsilon-nature-accent: mat-palette($mat-deep-purple, 300);
$epsilon-nature-warn: mat-palette($mat-red, 600);

$epsilon-nature-theme: mat-light-theme(
  $epsilon-nature-primary,
  $epsilon-nature-accent,
  $epsilon-nature-warn
);
