<div class="search-wrapper" *ngIf="user$ | async as user">
  <mat-form-field style="width: 100%" [ngClass]="routeAnimationsElements">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search an event">
  </mat-form-field>
</div>

<mat-table mat-table [dataSource]="dataSource" class="table" matSort [ngClass]="routeAnimationsElements">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell class="row-element row-element_name" *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell class="row-element row-element_name" *matCellDef="let row"> {{row.name}} </td>
  </ng-container>

  <!-- Place Column -->
  <ng-container matColumnDef="place">
    <th mat-header-cell class="row-element" *matHeaderCellDef mat-sort-header> Place </th>
    <td mat-cell class="row-element" *matCellDef="let row"> {{row.place}} </td>
  </ng-container>

  <!-- Time Column -->
  <ng-container matColumnDef="time">
    <th mat-header-cell class="row-element" *matHeaderCellDef mat-sort-header> Time </th>
    <td mat-cell class="row-element" *matCellDef="let row"> {{row.time}} {{row.date}} </td>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell class="row-element" *matHeaderCellDef mat-sort-header> Amount </th>
    <td mat-cell class="row-element" *matCellDef="let row" [style.color]="row.color"> {{row.amount}}/{{row.capacity}} </td>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell class="row-element" *matHeaderCellDef mat-sort-header> Price </th>
    <td mat-cell class="row-element" *matCellDef="let row" [style.color]="row.color"> ${{row.price}} </td>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell class="row-element" *matHeaderCellDef mat-sort-header> Status </th>
    <td mat-cell class="row-element" *matCellDef="let row" [style.color]="row.color">
      <span class="badge" [ngClass]="row.statusClassName">
        {{row.statusName}}
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row class="row" *matRowDef="let row; columns: displayedColumns;" (click)="onSelectEvent(row)"></tr>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

