.change-password {
  margin: -12px 0 15px 0;
  .change-password_text {
    font-size: 14px;
    color: blue;
    cursor: pointer;
    &:hover {
      font-size: 15px;
      text-decoration: underline;
    }
  }
}

.history-content {
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.history-content-container {
  overflow: auto;
  max-height: 260px;
}
