<h1 mat-dialog-title>{{ 'epsilon.menu.changePassword' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field FormControlName="password" class="password" [ngClass]="routeAnimationsElements">
      <input matInput type="password" formControlName="password" placeholder="{{ 'epsilon.register.password' | translate }}">
      <mat-error *ngIf="formErrors.password">
        {{ formErrors.password }}
      </mat-error>
    </mat-form-field>
    <mat-form-field FormControlName="confirmPassword" class="password" [ngClass]="routeAnimationsElements">
      <input matInput type="password" formControlName="confirmPassword" placeholder="{{ 'epsilon.register.confirmPassword' | translate }}">
      <mat-error *ngIf="formErrors.confirmPassword">
        {{ formErrors.confirmPassword }}
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="justify-content-center mb-4">
  <button type="button" mat-raised-button color="warn" (click)="onNoClick()">Canel</button>
  <button type="button" mat-raised-button color="accent" [disabled]="!formGroup.valid" (click)="onChangePassword()">Ok</button>
</div>
